body {
    margin: 0;
    font-family: 'Nunito Sans', sans-serif;
}

h1 {
    margin-block-start: 0.33em;
    margin-block-end: 0.33em;
}

h5 {
    margin-block-start: 0.33em;
    margin-block-end: 0.33em;
}

p {
    margin-block-start: 0.33em;
    margin-block-end: 0.33em;
}

span {
    font-size: 12px;
}

.cookie {
    font-family: 'Cookie', cursive;
    font-weight: 500;
}

.nunito {
    font-family: 'Nunito Sans', sans-serif;
}

nav {
    display: flex;
    align-items: center;
    justify-content: space-around;
    border-bottom: 1px solid #44444445;
}

nav h1 {
    font-size: xx-large;
}

.nav-center input {
    background-image: url(img/search-s.png);
    background-repeat: no-repeat;
    background-position: 4% 50%;
    background-color: #F1F3F4;
    padding-left: 40px;
    padding-top: 8px;
    padding-bottom: 8px;
    border-radius: 5px;
    border: none;
    width: 236px;
    box-sizing: border-box;
    font-size: 16px;
}

.nav-right {
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
}

.nav-right i {
    margin-left: 12px;
    margin-right: 12px;
}

.nav-right img {
    width: 28px;
    height: 28px;
    margin-left: 12px;
    margin-right: 12px;
}

main {
    display: flex;
    justify-content: center;
    margin-left: 244px;
    margin-right: 244px;
}

.main-stories-posts {
    display: flex;
    flex-direction: column;
    float: left;
    margin-right: 32px;
    min-width: 470px;
    max-width: 470px;
}

.stories {
    display: block;
    box-sizing: border-box;
    overflow-y: hidden;
    border: 1px solid #44444445;
    border-radius: 8px;
    margin-bottom: 0;
    margin-top: 24px;
    padding: 16px 0;
}

.new-stories {
    display: flex;
    width: 74px;
    height: 80px;

}

.story-user {
    display: flex;
    flex-direction: column;
    margin-left: 16px;
    margin-right: 8px;
    align-items: center;
}

.post-top {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 12px;
    border: 1px solid #44444445;
    border-radius: 8px 8px 0 0;
    margin-bottom: 0;
    margin-top: 24px;
    padding: 16px;
}

.post-top img {
    height: 50px;
    width: 50px;
}

.post-top-left {
    display: flex;
    gap: 12px;
    align-items: center;
    justify-content: flex-start;

}

.post-pic {
    display: flex;
}

.post-pic img {
    width: 469px;
    height: 100%;
    border: 0.5px solid #44444445;
}

.post-bottom {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    border: 1px solid #44444445;
    margin-top: 0px;
    padding: 16px;
    gap: 12px;
}

.post-bottom-symbols {
    display: flex;
    align-items: center;
    justify-content: space-between;
    cursor: pointer;
}

.post-bottom-symbols-left i {
    margin-right: 8px;
    margin-bottom: 16px;
}

.comment {
    display: flex;
    align-items: center;
    justify-content: space-between;
    border-left: 1px solid #44444445;
    border-right: 1px solid #44444445;
    border-bottom: 1px solid #44444445;
    border-radius: 0 0 8px 8px;
    margin-bottom: 24px;
    padding: 12px;
}

.comment textarea {
    width: 360px;
    border: none;
    resize: none;
    font-family: 'Nunito Sans', sans-serif;
}

textarea:focus {
    outline: none;
}

.comment-button {
    border: none;
    background-color: #FFFFFF;
    color: #B3DBFF;
    font-family: 'Nunito Sans', sans-serif;
    font-weight: 800;
}

.comment-button:hover {
    color: #0095F6;
}

.new-comment {
    display: flex;
    justify-content: space-between;
}

.recommended {
    display: flex;
    flex-direction: column;
    margin-top: 24px;
    min-width: 320px;
    float: right;
}

.user-top {
    display: flex;
    justify-content: space-between;
}

.user-left {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.user-middle {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
}

.user-left img {
    width: 56px;
    height: 56px;
}

.user-right {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    color: #0095F6;
    font-size: 14px;
    cursor: pointer;
}

.rec-head {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.recommendations {
    display: flex;
    justify-content: space-between;
}

.rec-left {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 24px;
}

.rec-left img {
    width: 32px;
    height: 32px;
}

.rec-middle {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 24px;
}

.rec-right {
    display: flex;
    flex-direction: column;
    gap: 9px;
    color: #0095F6;
    cursor: pointer;
}

.hashtags {
    color: #1143a6;
    cursor: pointer;
}

.heart-black {
    color: rgb(0, 0, 0);
}

.heart-red {
    color: tomato;
}

.bookmark-black {
    color: black;
}

.bookmark-green {
    color: rgb(74, 186, 74);
}

.trash {
    cursor: pointer;
}

@media (max-width: 800px) {
    .main {
        display: flex;
        flex-direction: column;
        margin-left: 50px;
        margin-right: 50px;
    }
}